@{
    ViewBag.Title = "Sales";
}

<h2>Sales</h2>


<hr />

<p>
    @Html.ActionLink("Sales Orders", "Index", "SalesOrder")
</p>
<p>
    @Html.ActionLink("Sales", "Index", "SalesTransfer")
</p>

<hr />
