@{
    ViewBag.Title = "Purchase Home";
}

<h2>Purchase Home</h2>

<hr />

<p>
    @Html.ActionLink("Purchase Order", "Index", "PurchaseOrder")
</p>
<p>
    @Html.ActionLink("Purchase", "Index", "Purchase")
</p>

<hr />
