@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

<hr />

<p>
    @Html.ActionLink("Users", "ViewReport", "ReportUsers")
</p>

<hr />
<p>
    @Html.ActionLink("Purchase", "ViewReport", "ReportPurchase")
</p>
<p>
    @Html.ActionLink("Sales", "Index", "ReportSales")
</p>

<hr />
