@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

<hr />

<p>
    @Html.ActionLink("Users", "ViewReport", "ReportUsers")
</p>

<hr />
<p>
    @Html.ActionLink("Purchase", "ViewReport", "ReportPurchase")
</p>
<p>
    @Html.ActionLink("Sales", "ViewReport", "ReportSales")
</p>

<hr />

@* @using (Html.BeginForm("View", "ReportSales", FormMethod.Post, new { target = "_blank" }))*@
@using (Html.BeginForm("View", "ReportSales", FormMethod.Post))
{
    <h2>Provide invoice number to view the Report:</h2>
    <input type="text" name="InvoiceID" />     
    <input type="submit" value="Submit" />   
}


@*@section Scripts {
    @Scripts.Render("~/bundles/ajax")
}*@
