@{
    ViewBag.Title = "Sales Home";
}

<h2>Sales Home</h2>

<hr />

<p>
    @Html.ActionLink("Sales Order", "Index", "SalesOrder")
</p>
<p>
    @Html.ActionLink("Sales", "Index", "Sales")
</p>
<p>
    @Html.ActionLink("Packing List", "Index", "PackingList")
</p>


<hr />
