@{
    ViewBag.Title = "Master";
}

<h2>Master</h2>

<hr />

<p>
    @Html.ActionLink("Vendors", "Index", "MasterVendor")
</p>
<p>
    @Html.ActionLink("Products", "Index", "MasterProduct")
</p>

<hr />
