@model ReportViewerModel
@using Syncfusion.Mvc.Shared
@using Syncfusion.ReportViewer.Mvc

@{
    ViewBag.Title = "View";
}

<h2>hi2</h2>
<div style="width: 100%; height: 800px;">
    @{Html.Syncfusion().ReportViewer("Report", Model).ShowParametersBlock(false).RequestMap(Url.Action("ReportAction", "ReportSales")).Render();}
</div>
@{Html.Syncfusion().ScriptManager().EnableGlobalization().Render();}
